In [2]:
a=1
b=2
c=-4
d=0
e=8
f=-6
g=-7
h=100000
i=-1000000
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

1
2
-4
0
8
-6
-7
100000
-1000000

# **What is data types?**
- Python Data types are the classification or categorization of data items.
- It represents the kind of value that tells what operations can be performed on a particular data.

## there are different types of data types and they are classified as follows:
# Basic
- int
- float
- complex
- bool
- char

#Advance
- list
- str
- tuple
- dict
- set

# **Explain int with Example?**
- This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).
- In Python, there is no limit to how long an integer value can be.
- int will start from -infinity to +infinity including '0'

# **Explain float with example?**
- This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.
- Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.

In [3]:
a1=2.4
b2=-1.3
c3=5.5
d4=9.0
e5=-0.4
f6=2.0
g7=-543
h8=-98
i9=10000.0
print(a1)
print(b2)
print(c3)
print(d4)
print(e5)
print(f6)
print(g7)
print(h8)
print(i9)

2.4
-1.3
5.5
9.0
-0.4
2.0
-543
-98
10000.0

# **Explain  Complex with Examples?**
- A complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j .
- For example â€“ 2+3j

In [23]:
a1=1+2j
b2=2-3j
c3=-3+4j
d4=-4+5j
e5=-5j-6j
f1=6j+7
g2=-7j+8
h3=7*8j
i4=8j+9j
j5=9j*10
print(a1)
print(b2)
print(c3)
print(d4)
print(e5)
print(f1)
print(g2)
print(h3)
print(i4)
print(j5)

(1+2j)
(2-3j)
(-3+4j)
(-4+5j)
(-0-11j)
(7+6j)
(8-7j)
56j
17j
90j

# **Explain boolean with Example?**
- Python Data type with one of the two built-in values, True or False.
- Boolean objects that are equal to True are truthy (true), and those equal to False are falsy (false).

In [13]:
a=10
b=20
c=30
d=40
e=50
print(a>b)
print(b>c)
print(c<d)
print(d<e)
print(e==b)
print(a<=b)

False
False
True
True
False
True

# **Explain type() with example?**
- The type() function in Python is a built-in function that returns the type of data stored in a variable or object.

In [2]:
a=1
b=2.6
c=25
d=a>b
e=c>a
f="BCCI"
g=5+4j
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'complex'>